<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2016 Roku Corp.  All Rights Reserved. -->
<component name="SpringBoard" extends="Group">
  <children>
    <Group id="SpringBoardDetails">
      <Label id="Title" font="font:MediumBoldSystemFont" translation="[750, 250]" width="850" />

      <LabelList
        id="LabelList"
        vertFocusAnimationStyle="fixedFocusWrap"
        translation="[800,325]"
        itemSize="[600,48]"
        color="#222222"
        focusedColor="#222222">
        <ContentNode id="Labels" role="content">
          <ContentNode title="Play from start"/>
        </ContentNode>
      </LabelList>

      <Rectangle
        color="#111111"
        width="400"
        height="300"
        translation="[293,243]"
        opacity=".9" />

      <Poster
        id="Image"
        width="386"
        height="286"
        translation="[300,250]"/>

      <Label
        id="CategoryLabel"
        font="font:LargeBoldSystemFont"
        translation="[300, 600]" />

      <Label
        id="Details"
        width="1300"
        font="font:MediumBoldSystemFont"
        text="PUT DETAILS TEXT HERE"
        wrap="true"
        translation="[300,675]" />

      <Label
        id="RuntimeLabel"
        text="Video Length:"
        font="font:LargeBoldSystemFont"
        translation="[300,875]" />
    </Group>
    <Video
      id="Video"
      width="1920"
      height="1080"
      translation="[0,0]"
      visible="false"/>
  </children>

  <interface>
    <field id="content" type="node" onChange="onContentChange"/>
    <field id="seekPosition" type="float"/>
    <field id="itemSelected" type="integer" alias="LabelList.itemSelected" onChange="onItemSelected"/>
  </interface>

  <script type="text/brightscript" uri="pkg:/components/generalUtils.brs"/>
  <script type="text/brightscript" uri="pkg:/components/SpringBoard.brs"/>
</component>
